    <div class="modal hide" id="about">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>About kirchenreich.org</h3>
      </div>
      <div class="modal-body">
        <p><strong>Kirchenreich</strong> is a mashup using data from <a href="http://www.openstreetmap.org">Openstreetmap</a> and <a href="http://en.wikipedia.org">Wikipedia</a>.
	  The <strong>purpose</strong> of the site is to correlate informations about places of worship and show problems within the data. We want to <strong>encourage</strong> users to fix the problems in Wikipedia and Openstreetmap.
	</p>
	<p>
	  <em>Kirche</em> is the German word for <em>church</em> and <em>reich</em> is German for <em>rich</em> or <em>realm</em>.
	  Of course this site not only has churches, but all <strong>places of worship</strong>.
	</p>
	<p>
	  We developed the initial site for the <a href="http://djangodash.com">DjangoDash</a> <strong>at one weekend</strong>.
	  The whole sourcecode is on <a href="https://github.com/mfa/kirchenreich">Github</a> under BSD licence.</p>
	<p>
	  Feel free to fork the repository, file bugrequests or even send in feature wishes.
	</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
