{% extends "base.html" %}

{% load humanize %}

{% block load_css %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock %}

{% block load_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}raphael/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}raphael/g.raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}raphael/g.pie-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script>
    kr.plot.pie('kirchenreich_data_source', 80, 'right', [{{ osm_count }}, {{ wikipedia_count }}], ['OSM', 'Wikipedia']);
    kr.plot.pie('osm_ratio_plot', 80, 'left', [{{ osm_type.W }}, {{ osm_type.N }}], ['Ways', 'Nodes']);

    {% for check in checks %}
    kr.plot.pie_small('check_{{ check.name }}_plot', 15, [{{check.reached}}, {{check.pending}}]);
    {% endfor %}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="span12"><h2>Database status</h2></div>
    </div>
    <div class="row">
        <div class="span9" style="text-align: right">
            <h3>Kirchenreich.org</h3>
            <div class="state-box">
                    <p id="value">{{ osm_count|intcomma }}</p>
                    <p id="help">OpenStreetMap places</p>
            </div>
            <span style="font-size: 50px">+</span>
            <div class="state-box">
                    <p id="value">{{ wikipedia_count|intcomma }}</p>
                    <p id="help">Wikipedia articles</p>
            </div>
            <span style="font-size: 50px">&rarr;</span>
            <div class="state-box">
                    <p id="value">{{ krunite_count|intcomma }}</p>
                    <p id="help">Places of worship</p>
            </div>
        </div>
        <div class="span3">
            <div id="kirchenreich_data_source"></div>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div id="osm_ratio_plot"></div>
        </div>
        <div class="span9">
            <h3>OpenStreetMap</h3>
            <div class="state-box">
                    <p id="value">{{ ref_need_update|intcomma }} / {{ ref_count|intcomma }}</p>
                    <p id="help">References need update</p>
            </div>
            <div class="state-box">
                    <p id="value">{{ osm_type.W|intcomma }}</p>
                    <p id="help">Included ways</p>
            </div>
            <div class="state-box">
                    <p id="value">{{ osm_type.N|intcomma }}</p>
                    <p id="help">Included nodes</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3"></div>
        <div class="span9">
            <h3>Wikipedia</h3>
            <div class="state-box">
                    <p id="value">{{ wikipedia_count|intcomma }}</p>
                    <p id="help">Wikipedia articles</p>
            </div>
            <div class="state-box">
                    <p id="value">{{ wikipedia_infobox_count|intcomma }}</p>
                    <p id="help">Wikipedia infoboxes</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12"><h2>Quality checks</h2></div>
    </div>
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            <table class="table table-bordered">
                <tbody>
                    {% for check in checks %}
                    <tr>
                        <td>{{ check.description }}</td>
                        <td>{{ check.percent_reached}}% ({{ check.reached|intcomma }})</td>
                        <td><div id="check_{{ check.name }}_plot"></div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
