{% extends "base.html" %}

{% block load_css %}
{{ block.super }}
<style>
img {
    max-width: none; /* Fix twitter bootstrap to work together with OpenLayers */
}
</style>
{% endblock %}

{% block load_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/worshipmap.js"></script>
{% endblock %}

{% block run_js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        var center = [{{ point_for_openlayers.x }}, {{ point_for_openlayers.y }}];
        kr.buildMap('map', center, 15, false);
        kr.refresh_markers();
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ object.name|default_if_none:"<em>unknown</em>"|safe }}</h1>
    </div>
    <div class="row">
        <div class="span6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Latitude</td>
                        <td>{{ object.point.x }}</td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>{{ object.point.y }}</td>
                    </tr>
                    <tr>
                        <td>Religion</td>
                        <td>{{ object.religion|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                    <tr>
                        <td>Denomination</td>
                        <td>{{ object.denomination|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#osm" data-toggle="tab">OpenStreetMap</a></li>
                    <li><a href="#wikipedia" data-toggle="tab">Wikipedia</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="osm">
                        {% if addional_fields|length > 0 %}
                        <table class="table table-bordered">
                            <tbody>
                                {% for key, value in addional_fields.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">There are no addional information from OpenStreetMap</div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="wikipedia">
                        <p>Wikipedia content....</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6" style="height: 80%"><div id="map"></div></div>
    </div>

</div>
{% endblock %}