{% extends "base.html" %}

{% block load_css %}
{{ block.super }}
<style>
img {
    max-width: none; /* Fix twitter bootstrap to work together with OpenLayers */
}
</style>
{% endblock %}

{% block load_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/worshipmap.js"></script>
{% endblock %}

{% block run_js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        var center = [{{ point_for_openlayers.x }}, {{ point_for_openlayers.y }}];
        kr.buildMap('map', center, 15, false);
        kr.refresh_markers();
        if (sessionStorage){
            kr.session.set_possition(kr.map.getCenter())
            kr.session.set_zoom(13)
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ object.name|default_if_none:"<em>unknown</em>"|safe }}</h1>
    </div>
    <div class="row">
        <div class="span6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Latitude</td>
                        <td>{{ object.point.x }}</td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>{{ object.point.y }}</td>
                    </tr>
                    <tr>
                        <td>Religion</td>
                        <td>{{ object.religion|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                    <tr>
                        <td>Denomination</td>
                        <td>{{ object.denomination|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#links" data-toggle="tab">Links</a></li>
                    <li><a href="#osm" data-toggle="tab">OpenStreetMap</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="links">
		        {% if object.osm_url|length > 0 %}
                        <h3>Openstreetmap reference</h3>
                        <ul>
                            <li><a href="{{ object.osm_url }}">Details on this {{ object.get_osm_type_display }}</a></li>
                        </ul>
                        {% else %}
                        <div class="alert alert-info">This place has <strong>no</strong> correct connection to Openstreetmap.</div>
			<!-- osm_id: {{ object.osm_id }} -->
                        {% endif %}

			{% if object.unite %}
			<h3>Country</h3>
			<ul>
                            <li>This place of worship is in {{ object.unite.country.name }}</li>
			</ul>
                        {% else %}
                        <div class="alert alert-info">This place <strong>isn't</strong> connected to a country.</div>
                        {% endif %}

                        {% if wikipedia_pages|length > 0 %}
                        <h3>Wikipedia Article{{ wikipedia_pages|length|pluralize }}</h3>
                        <ul>
                            {% for wikipedia_page in wikipedia_pages %}
                            <li><a href="{{ wikipedia_page.url }}">{{ wikipedia_page }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="alert alert-info">This place <strong>isn't</strong> connected with a wikipedia article.</div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="osm">
                        {% if addional_fields|length > 0 %}
                        <table class="table table-bordered">
                            <tbody>
                                {% for key, value in addional_fields.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">There are no addional information from OpenStreetMap</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="span6" style="height: 80%"><div id="map"></div></div>
    </div>

</div>
{% endblock %}
