{% extends "base.html" %}

{% load humanize_latlon %}

{% block meta %}
<meta name="description" content="Place of worship {{object.name|default_if_none:'unknow'}} with religion {{object.religion|default_if_none:'unknow'}}">
<meta name="keywords" content="kirchenreich, place, of, worship, osm, openstreetmap, wikipedia, church, temple">
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/kirchenreich/worshipmap.js"></script>
{% endblock %}

{% block run_js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        var center = [{{ point.y }}, {{ point.x }}];
        kr.buildMap({
            target: 'map',
            center: center,
            zoom: 15,
        });
        kr.refresh_markers();
        if (sessionStorage){
            kr.session.set_possition(kr.map.getCenter())
            kr.session.set_zoom(13)
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container" itemscope itemtype="http://schema.org/Place">
    <div class="page-header">
        <h1 itemprop="name">{{ object.name|default_if_none:"<em>unknown</em>"|safe }} <small style="float: right">{% humanize_point object.point %}</small></h1>
    </div>
    <div class="row">
        <div class="span6">
            <table class="table table-bordered" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <tbody>
                    <tr>
                        <td>Latitude</td>
                        <td>{{ object.point.y|as_dms:'lat' }}<meta itemprop="latitude" content="{{ object.point.y }}" /></td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>{{ object.point.x|as_dms:'lon' }}<meta itemprop="longitude" content="{{ object.point.x }}" /></td>
                    </tr>
                    <tr>
                        <td>Religion</td>
                        <td>{{ object.religion|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                    <tr>
                        <td>Denomination</td>
                        <td>{{ object.denomination|default_if_none:"<em>unknown</em>"|safe }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#checks" data-toggle="tab">Checks</a></li>
                    {% for osm_place in osm_places %}
                    <li><a href="#osm{{ forloop.counter }}" data-toggle="tab">OpenStreetMap #{{ forloop.counter }}</a></li>
                    {% endfor %}
                    {% for wikipedia_pages in wikipedia_pages %}
                    <li><a href="#wikipedia{{ forloop.counter }}" data-toggle="tab">Wikipedia #{{ forloop.counter }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="checks">
                        <h3>Kirchenreich.org Checks</h3>
                        <p>We want to improve the quality of the information in OpenStreetMap about places of worship. So we run some tests to check the quality of this place data.</p>
                        <strong>Quality meter</strong>
                        {% if checks_percent_reached < 25 %}
                        <div class="progress progress-danger">
                          <div class="bar" style="width: {{ checks_percent_reached }}%;">{{ checks_percent_reached }}%</div>
                        </div>
                        {% elif checks_percent_reached > 25 and checks_percent_reached < 50 %}
                        <div class="progress progress-warning">
                          <div class="bar" style="width: {{ checks_percent_reached }}%;">{{ checks_percent_reached }}%</div>
                        </div>
                        {% elif checks_percent_reached > 50 and checks_percent_reached < 80 %}
                        <div class="progress progress-info">
                          <div class="bar" style="width: {{ checks_percent_reached }}%;">{{ checks_percent_reached }}%</div>
                        </div>
                        {% elif checks_percent_reached > 80 and checks_percent_reached < 100 %}
                        <div class="progress progress-success">
                          <div class="bar" style="width: {{ checks_percent_reached }}%;">{{ checks_percent_reached }}%</div>
                        </div>
                        {% endif %}
                        <ul class="unstyled">
                            {% for check in checks.pretty %}
                            <li>
                                {% if check.value %}
                                <span class="badge badge-success"><i class="icon-ok-circle icon-white"></i></span>
                                {% else %}
                                <span class="badge badge-important"><i class="icon-ban-circle icon-white"></i></span>
                                {% endif %}
                                {{ check.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% for osm_place in osm_places %}
                    <div class="tab-pane" id="osm{{ forloop.counter }}">
                        <h3>OpenStreetMap ({{ osm_place.osm_id }})</h3>
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="{% if osm_place.name == None %}error{% endif %}">
                                    <td>Name</td>
                                    <td>{{ osm_place.name|default_if_none:'<em>unknown</em>'|safe }}</td>
                                </tr>
                                <tr class="{% if osm_place.religion == None %}error{% endif %}">
                                    <td>Religion</td>
                                    <td>{{ osm_place.religion|default_if_none:'<em>unknown</em>'|safe }}</td>
                                </tr>
                                <tr class="{% if osm_place.denomination == None %}error{% endif %}">
                                    <td>Denomination</td>
                                    <td>{{ osm_place.denomination|default_if_none:'<em>unknown</em>'|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
                        {% if osm_place.addional_fields|length > 0 %}
                        <table class="table table-bordered">
                            <tbody>
                                {% for key, value in addional_fields.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">There are no addional information from OpenStreetMap</div>
                        {% endif %}
                        {% if osm_place.osm_url %}
                        <p>You can get more information about this OpenStreetMap entry <a href="{{ osm_place.osm_url }}">here</a>.</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% for wikipedia_page in wikipedia_pages %}
                    <div class="tab-pane" id="wikipedia{{ forloop.counter }}">
                        <h3>{{ wikipedia_page.title }}</h3>
                        <p>Read more about {{ wikipedia_page.title }} in the Wikipedia <a href="{{ wikipedia_page.url }}">here</a>.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span6" id="map" style="height: 500px"></div>
    </div>

</div>
{% endblock %}
