{% extends "base.html" %}

{% block load_css %}
{{ block.super }}
<style>
img {
    max-width: none; /* Fix twitter bootstrap to work together with OpenLayers */
}
</style>
{% endblock %}

{% block load_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/worshipmap.js"></script>
{% endblock %}

{% block run_js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        kr.buildMap('map', [0, 0], 1, true)
    });
</script>
{% endblock %}

{% block nav_right %}
<li><a href="#" id="nav_status"></a></li>
{% endblock %}


{% block content %}
<div id="map"></div>
{% endblock %}